[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/benjamin/Desktop/teamviewer.desktop]
row=5
col=0

[/home/benjamin/Desktop/quasselclient.desktop]
row=4
col=0

[/home/benjamin/Desktop/chromium.desktop]
row=2
col=0

[/home/benjamin/Desktop/hardinfo_report.html]
row=0
col=1

[/home/benjamin/Desktop/Minecraft.jar]
row=3
col=0

[/]
row=0
col=0

[/home/benjamin]
row=1
col=0

